// $tablet: 836px;
// $mobile: 634px;
p {
  max-width: 400px;
  font-size: 18px;
}
h3 {
  font-size: 24px;
  font-weight: 300;
}
.results-wrapper {
  margin: 0 auto 40px;
  max-width: 1000px;
  padding: 0 24px;
  background-color: #fff;
  align-items: center;
}

.results-content {
  margin: 0 auto;
  width: 100%;
  @media (max-width: 836px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  @media (max-width: 634px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.results {
  padding: 16px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  @media (max-width: 836px) {
    display: flex;
    flex-direction: column;
  }

  .item-image {
    img {
      height: 180px;
      width: 180px;
      border-radius: 4px;
    }
    @media (max-width: 836px) {
      display: flex;
      justify-content: center;
    }
  }
  .item-details__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 16px;

    .item-details {
      display: flex;
      justify-content: space-between;
      line-height: 16px;
      padding-bottom: 32px;
      img {
        padding: 0 0 0 12px;
        width: 32px;
      }
    }

    .item-price {
      display: flex;
      line-height: 16px;
      padding-bottom: 32px;
      img {
        padding: 0 0 0 12px;
        width: 32px;
      }
    }
    .item-location {
      p {
        font-size: 12px;
        padding-top: 16px;
      }
    }
  }
}
